<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom ChatApp styles -->
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">

</head>
<body>
{#Handling Flask flash messages#}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}
<script src="{{ url_for('static', filename="js/socket.io.min.js") }}"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename="js/jquery-1.12.4.min.js") }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
<!-- Custom Ajax Requests for Auth-->
<script src="{{ url_for('static', filename="js/auth.js") }}"></script>
<!-- Custom Chat Handlers-->
<script src="{{ url_for('static', filename="js/chat.js") }}"></script>
</body>
</html>